<html>
<style>
	body {{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
		margin: 0;
		padding: 30px 20px;
		font-size: 13px;
		line-height: 1.2;
		color: #999999;
		background-color: #e4e4e4;
	}}
	
	#content {{
		color: #222222;
		border: #ddd solid 1px;
		background-color: #fff;
		padding: 20px 26px
	}}
	
	.giftcode {{
		font-size: 24px;
	}}
	
	#content p {{
		margin: 30px 0;
	}}
</style>
<body>
	<div id="content">
		<p>
			<img src="https://static.tandemparking.co/tandem_logo_small.png"/>
		</p>
		
		<p style="font-weight: bold">
			Hello {name}!
		</p>
		
		<p>
			Someone has recently requested to reset your password. If you did not issue a password reset request then you can safely ignore this email.
		</p>
		
		<p>
			To reset your password click on the following link. Please note that you have 48 hours before this link will expire.
		</p>
		
		<p>
			<a href="{link}">{link}</a>
		</p>
	</div>
	<p style="font-size: 10px">
		This email was automatically sent by a user generated event. If you feel you are receiving this email in error or you have any questions, please feel free to contact us at:<br />support@tandemparking.co
	</p>
</body>
</html>